{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "1.0.0"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git"}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git"}},
	{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git"}},
    {ecm, ".*", {git, "git@git.bluefir.cn:xzmaos/ecm.git"}},
    {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git"}}
]}.
%{erl_opts, [{parse_transform, lager_transform}, {lager_truncation_size, 102400}]}.
{lib_dir, ["deps"]}.
